main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
    height: 80vh;
    width: 65%;
    background-color: lightgrey;
}
.botoes{
    margin: 20px 10px;
}
.calculadora input{
    margin: 10px 0px;
    height: 20px;
    width: 50%;
    border-radius: 5px;
}
.resultado {
    display: flex;

}
#resultado1{
    border: 5px solid black;
    padding: 10px;
}
#resultado2{
    border: 5px solid black;
    padding: 10px;
}