#lista-compra{
    background-color: lightgrey;
    border: 5px solid black;
    padding: 15px;
    margin: 15px 20px;
    width: 50%;
}
#btnAdd{
    background-color: green;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
}
#new-item{
    margin: 15px 20px;
    padding: 5px;
    height: 30px;
    width: 40%;
}
.removed{
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold ;
}
ul li{
    text-decoration: none;
    margin: 15px;
}
#btnAdd{
    height: 50px;
    width: 5%;
}
h1{
    padding: 15px;
}
